<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-text-center" [formGroup]="perfilForm" (ngSubmit)="updateUser()" *ngIf="isLoading">
    <ion-list>
      <!-- Nombre -->
      <ion-item class="ion-margin-horizontal input-item pt-2">
        <ion-input 
          label="Nombre (por elección)"
          labelPlacement="floating"
          formControlName="name"
          placeholder="Ingresa tu email"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('lastName')?.invalid && (perfilForm.get('lastName')?.dirty || perfilForm.get('lastName')?.touched)">
        Ingresa un nombre
      </ion-note>

      <!-- Apellidos -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Apellidos"
          labelPlacement="floating"
          formControlName="lastName"
          placeholder="Ingresa tus apellidos"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('lastName')?.invalid && (perfilForm.get('lastName')?.dirty || perfilForm.get('lastName')?.touched)">
        Apellidos invalidos
      </ion-note>

      <!-- Genero -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-select 
          aria-label="Identidad de genero" 
          interface="action-sheet" 
          placeholder="Selecciona genero"
          formControlName="identidad_genero">
          <ion-select-option value="Hombre trans">Hombre trans</ion-select-option>
          <ion-select-option value="Mujer trans">Mujer trans</ion-select-option>
          <ion-select-option value="No binario">No binario</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
          <ion-select-option value="Sin definir">Sin definir</ion-select-option>
          <ion-select-option value="0">Prefiero no decir</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('identidad_genero')?.invalid && (perfilForm.get('identidad_genero')?.dirty || perfilForm.get('identidad_genero')?.touched)">
        Selecciona un genero
      </ion-note>

      <!-- Pronombres -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-select 
          aria-label="Pronombres" 
          interface="action-sheet" 
          placeholder="Selecciona pronombres"
          formControlName="pronombre">
          <ion-select-option value="Él">Él</ion-select-option>
          <ion-select-option value="Ella">Ella</ion-select-option>
          <ion-select-option value="Elle">Elle</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
          <ion-select-option value="Ninguno">Ninguno</ion-select-option>
          <ion-select-option value="Preguntar antes">Preguntar antes</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('pronombre')?.invalid && (perfilForm.get('pronombre')?.dirty || perfilForm.get('pronombre')?.touched)">
        Selecciona un pronombre
      </ion-note>
      
      <!-- Email -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Correo electrónico"
          labelPlacement="floating"
          formControlName="email"
          placeholder="Ingresa tu email"
          type="email"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('email')?.invalid && (perfilForm.get('email')?.dirty || perfilForm.get('email')?.touched)">
        Email invalido
      </ion-note>

      <ion-item class="ion-margin input-item pt-1">
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="!date">
        Selecciona tu fecha de nacimiento
      </ion-note>
    </ion-list>

    <ion-button 
      shape="round"
      color="secondary" 
      type="submit"
      class="pt-4"
    >Registrar</ion-button>

    <ion-item lines="none" class="ion-text-center pt-2">
      <ion-label>
        <p>Ya tienes cuenta?</p>
        <ion-router-link routerLink="/login">Inicia sesión!</ion-router-link>
      </ion-label>
    </ion-item>
  </form>
</ion-content>
