<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-text-center" [formGroup]="perfilForm" (ngSubmit)="updateUser()" *ngIf="isLoading">
    <ion-list>
      <!-- Nombre -->
      <ion-item class="ion-margin-horizontal input-item pt-2">
        <ion-input 
          label="Nombre (por elección)"
          labelPlacement="floating"
          formControlName="name"
          placeholder="Ingresa tu email"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('lastName')?.invalid && (perfilForm.get('lastName')?.dirty || perfilForm.get('lastName')?.touched)">
        Ingresa un nombre
      </ion-note>

      <!-- Apellidos -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Apellidos"
          labelPlacement="floating"
          formControlName="lastName"
          placeholder="Ingresa tus apellidos"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('lastName')?.invalid && (perfilForm.get('lastName')?.dirty || perfilForm.get('lastName')?.touched)">
        Apellidos invalidos
      </ion-note>

      <!-- Genero -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input
          label="Identidad de genero" 
          labelPlacement="floating"
          placeholder="Selecciona genero"
          formControlName="identidad_genero"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('identidad_genero')?.invalid && (perfilForm.get('identidad_genero')?.dirty || perfilForm.get('identidad_genero')?.touched)">
        Selecciona un genero
      </ion-note>

      <!-- Pronombres -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Pronombres" 
          labelPlacement="floating"
          placeholder="Selecciona pronombres"
          formControlName="pronombre"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('pronombre')?.invalid && (perfilForm.get('pronombre')?.dirty || perfilForm.get('pronombre')?.touched)">
        Selecciona un pronombre
      </ion-note>
      
      <!-- Email -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Correo electrónico"
          labelPlacement="floating"
          formControlName="email"
          placeholder="Ingresa tu email"
          type="email"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('email')?.invalid && (perfilForm.get('email')?.dirty || perfilForm.get('email')?.touched)">
        Email invalido
      </ion-note>

      <!-- Telefono -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Teléfono"
          labelPlacement="floating"
          formControlName="telefono"
          placeholder="Ingresa tu teléfono"
          maxlength="10"
          type="tel"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="perfilForm.get('telefono')?.invalid && (perfilForm.get('telefono')?.dirty || perfilForm.get('phone')?.touched)">
        Teléfono invalido
      </ion-note>

      <!-- estado -->
       <ion-item class="ion-margin input-item pt-2">
        <ion-select 
          aria-label="Estado" 
          interface="action-sheet" 
          placeholder="Selecciona tu estado de residencia"
          formControlName="estado"
          cancelText="Cancelar"
          (ionChange)="getMunicipios()"
          required>
          <ion-select-option *ngFor="let estado of listEstados" [value]="estado.id">{{estado.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Municipio -->
      <ion-item class="ion-margin input-item pt-2" *ngIf="listMunicipios && listMunicipios.length > 0">
        <ion-select 
          aria-label="Municipio" 
          interface="action-sheet" 
          placeholder="Selecciona tu municipio de residencia"
          formControlName="municipio"
          cancelText="Cancelar"
          required>
          <ion-select-option *ngFor="let municipio of listMunicipios" [value]="municipio.id">{{municipio.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button 
      shape="round"
      color="secondary" 
      type="submit"
      class="pt-4"
    >Actualizar datos</ion-button>
  </form>
</ion-content>
