// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #55CDFC;
    --ion-color-secondary: #F7A8B8;
    --ion-color-tertiary: #FFFFFF;
}
