<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-text-center" [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-list>
      <!-- Nombre -->
      <ion-item class="ion-margin-horizontal input-item pt-2">
        <ion-input 
          label="Nombre (por elección)"
          labelPlacement="floating"
          formControlName="name"
          placeholder="Ingresa tu email"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note class="ion-no-padding ion-no-margin">
        Ingresa tu nombre social, no tiene que ser el legal
      </ion-note>

      <!-- Apellidos -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Apellidos"
          labelPlacement="floating"
          formControlName="lastName"
          placeholder="Ingresa tus apellidos"
          type="text"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('lastName')?.invalid && (registerForm.get('lastName')?.dirty || registerForm.get('lastName')?.touched)">
        Apellidos invalidos
      </ion-note>

      <!-- Genero -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-select 
          aria-label="Identidad de genero" 
          interface="action-sheet" 
          placeholder="Selecciona genero"
          formControlName="identidad_genero"
          cancelText="Cancelar"
          (ionChange)="onPronounChangeGender($event)">
          <ion-select-option value="Hombre trans">Hombre trans</ion-select-option>
          <ion-select-option value="Mujer trans">Mujer trans</ion-select-option>
          <ion-select-option value="Hombre trans">Hombre cis</ion-select-option>
          <ion-select-option value="Mujer trans">Mujer cis</ion-select-option>
          <ion-select-option value="No binario">No binario</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('identidad_genero')?.invalid && (registerForm.get('identidad_genero')?.dirty || registerForm.get('identidad_genero')?.touched)">
        Selecciona un genero
      </ion-note>

      <!-- Input para "Otro" en Genero -->
      <ion-item class="ion-margin input-item pt-2" *ngIf="showOtherGenderInput">
        <ion-input 
          aria-label="Especifica tu genero" 
          placeholder="Especifica tu genero"
          formControlName="pronombre">
        </ion-input>
      </ion-item>

      <!-- Pronombres -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-select 
          aria-label="Pronombres" 
          interface="action-sheet" 
          placeholder="Selecciona pronombres"
          formControlName="pronombre"
          cancelText="Cancelar"
          (ionChange)="onPronounChange($event)">
          <ion-select-option value="Él">Él</ion-select-option>
          <ion-select-option value="Ella">Ella</ion-select-option>
          <ion-select-option value="Elle">Elle</ion-select-option>
          <ion-select-option value="Otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('pronombre')?.invalid && (registerForm.get('pronombre')?.dirty || registerForm.get('pronombre')?.touched)">
        Selecciona un pronombre
      </ion-note>

      <!-- Input para "Otro" en pronombres -->
      <ion-item class="ion-margin input-item pt-2" *ngIf="showOtherPronounInput">
        <ion-input 
          aria-label="Especifica tu pronombre" 
          placeholder="Especifica tu pronombre"
          formControlName="pronombre">
        </ion-input>
      </ion-item>
      
      <!-- Email -->
      <ion-item class="ion-margin input-item pt-2">
        <ion-input 
          label="Correo electrónico"
          labelPlacement="floating"
          formControlName="email"
          placeholder="Ingresa tu email"
          type="email"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
        Email invalido
      </ion-note>

      <!-- Telefono -->
      <ion-item class="ion-margin input-item pt-1">
        <ion-input 
          label="Teléfono"
          labelPlacement="floating"
          formControlName="telefono"
          placeholder="Ingresa tu teléfono"
          maxlength="10"
          type="tel"
          required>
        </ion-input>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('telefono')?.invalid && (registerForm.get('telefono')?.dirty || registerForm.get('phone')?.touched)">
        Teléfono invalido
      </ion-note>

      <!-- Contraseña -->
      <ion-item class="ion-margin input-item pt-1">
        <ion-input 
          label="Contraseña"
          labelPlacement="floating"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
          [type]="showPassword ? 'text' : 'password'" 
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" aria-label="Mostrar/ocultar" color="dark" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        Minimo 8 caracteres, al menos una mayuscula, una miniscula y un número
      </ion-note>

      <!-- Confirmar contraseña -->
      <ion-item class="ion-margin input-item pt-1">
        <ion-input 
          label="Contraseña"
          labelPlacement="floating"
          formControlName="password_confirmation"
          placeholder="Confirma tu contraseña"
          [type]="showPasswordConfirmation ? 'text' : 'password'"
          required>
        </ion-input>
        <ion-button fill="clear" slot="end" aria-label="Mostrar/ocultar" color="dark" (click)="togglePasswordConfirmationVisibility()">
          <ion-icon [name]="showPasswordConfirmation ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('password_confirmation')?.invalid && (registerForm.get('password_confirmation')?.dirty || registerForm.get('password_confirmation')?.touched)">
        Las contraseñas no coinciden
      </ion-note>

      <ion-item class="ion-margin input-item pt-1">
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>
      <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="!date">
        Selecciona tu fecha de nacimiento
      </ion-note>
    </ion-list>

    <!-- Aceptar términos y condiciones -->
    <ion-item lines="none">
      <ion-checkbox slot="start" formControlName="termsAccepted"></ion-checkbox>
      <ion-label>
        Acepto los 
        <ion-text color="primary" (click)="showTerms()">Términos y Condiciones</ion-text>
      </ion-label>
    </ion-item>
    <ion-note color="danger" class="ion-no-padding ion-no-margin" *ngIf="registerForm.get('termsAccepted')?.invalid && (registerForm.get('termsAccepted')?.dirty || registerForm.get('termsAccepted')?.touched)">
      Debes aceptar los Términos y Condiciones.
    </ion-note>

    <ion-button 
      shape="round"
      color="secondary" 
      type="submit"
      class="pt-4"
    >Registrar</ion-button>

    <ion-item lines="none" class="ion-text-center pt-2">
      <ion-label>
        <p>Ya tienes cuenta?</p>
        <ion-router-link routerLink="/login">Inicia sesión!</ion-router-link>
      </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime 
      id="datetime"
      presentation="date"
      [(ngModel)]="date"
      [showDefaultButtons]="true"
      doneText="Confirmar"
      cancelText="Cancelar"
    ></ion-datetime>
  </ng-template>
</ion-modal>
